# Add account credentials and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry sets a local environment variable.
# For example, setting:
# GMAIL_USERNAME=Your_Gmail_Username
#

STRIPE_PUBLIC_KEY=
STRIPE_PRIVATE_KEY=
