%main{:role => "main"}
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1 Pay Me What You Want
        %p.small All major credit and debit cards accepted!


    .row
      
      .col-md-8.col-md-offset-2
        %hr
        %p Pay Me What You Want allows you to make a card payment to this app's maintainer, #{link_to "OkayDave", "http://github.com/OkayDave", target: "_blank"}. 
        %p This app is open source and #{link_to "available on Github", "https://github.com/OkayDave/pay-me-what-you-want", target: "_blank"}.
        %hr

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3 Make a payment
        .payment-form



    .row
    .col-md-12
